* {
  margin: 0;
  padding: 0;
}

.container {
  display: inline;
  width: 320px;
  align-content: column;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: flex-start;
}

.menu-ham {
  display: block;
  flex-shrink: 3;
  flex-basis: flex-end;
  order: 0;
  margin-right: 19px;
}

.name {
  margin-left: 16px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: 'Playfair Display', sans-serif;
  font-size: 50px;
  font-weight: 400px;
  line-height: 50px;
  color: #1a2236;
  stroke: black 1px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: left;
}

.section {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 288px;
  height: 336px;
}

p {
  display: flex;
}

.intro-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #1a2236;
  margin-left: 16px;
  margin-right: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.01em;
  text-align: left;
}

.start-collab-box {
  display: block;
  align-items: center;
  justify-items: center;
  width: 288px;
  height: 50px;
  left: 16px;
  top: 390px;
  background: #1a2236;
  margin-top: 40px;
  margin-bottom: 32.31px;
  margin-left: 16px;
}

.start-collab-btn {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
  padding-top: 12px;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.start-content {
  text-decoration: none;
  color: white;
  text-align: center;
  margin: auto;
}
